<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
        failOnRisky="true"
        failOnWarning="true"
        beStrictAboutCoverageMetadata="true"
        beStrictAboutOutputDuringTests="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="zebra Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <file>src/bootstrap.php</file>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="php://stdout"/>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>

